.row {
  align-content: center;
}

.show-grid {
  margin: 3.5%;
  z-index: 0;
}

#btn1 {
  float: right;
  width: 30%;
  height: 30px;
  margin:20px;
}

#dropBtn {
  float: center;
  width: inherit;
  height: 30px;
  margin:20px;
}

#modalDiv {
  z-index: 1;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: inherit;
}