.show-grid {
  margin: 3.5%;
  z-index: 0;
}

#btn1 {
  float: right;
  width: 30%;
  height: 30px;
  margin:20px;
}

#dropBtn {
  float: center;
  width: inherit;
  height: 30px;
  margin:20px;
}

#modalDiv {
  z-index: 1;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: inherit;
}

.tab-content {
  background-color: #3e444c;
  padding: 20px;
  border: 1em solid #0c0d0e;
  padding-bottom: 10vh;
}

.nav-tabs > li{
  background-color: #4e59678a
}